@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-image: linear-gradient(#7E1EF8, #4A00A8);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branding {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.branding img {
    width: 180px;
}

.branding p {
    color: #D3B0FF;
    text-align: center;
}
